<div class="container">
    <div id="update-article" class="manage-pane">
        <%= form_for :article, url: article_path(@article), method: :patch do |f| %>        
        <p>
            <%= f.label :post_title, '文章标题' %>        
            <br>        
            <%= f.text_field :post_title, class: 'form-control' %></p>

        <p>
            <%= f.label :post_text, '正文' %>        
            <br>        
            <%= f.text_area :post_text, class: 'form-control', spellcheck: 'false' %></p>

        <p>
            <%= link_to 'Cancel', article_path %>
            <%= f.submit %>
        </p>
        <% end %>
    </div>
</div>